html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0
}

.container {
    display: flex;
    background-color: red;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.child {
    text-align: center;
    width: 20%;
    height: 10%;
    color: white;
    background-color: green;
    top:50%;
}